{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h4>Hello Anonymous</h4>
            <div class="img-box">
                <img class="img" src="{{ url_for('static', path='icons/google.png') }}">
            </div>
        </div>
        <a href="/login" class="google-btn">
            <img class="google-icon" src="{{ url_for('static', path='icons/google_icon.png') }}">
            <span class="btn-text">SignIn with Google</span>
        </a>
    </div>
</body>
</html>